:host {
    align-items: center;
    background-color: var(--color-light-blue);
    box-sizing: border-box;
    color: var(--color-white);
    display: flex;
    justify-content: flex-end;
    min-height: 42px;
    padding: 4px 12px;
    gap: 0.5em;
    a {
        color: var(--color-cyan);
        font-weight: 700;
        display: flex;
        align-items: center;
    }
}
