:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    overflow: auto;
    gap: 10px;
    text-align: center;
    h1 {
        font-size: 90px;
    }
    header,
    content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    content {
        gap: 6px;
        > button {
            margin-bottom: 26px;
        }
    }
}

.timer {
    position: relative;
    strong {
        font-size: 46px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
