/* You can add global styles to this file, and also import other style files */
:root {
    --color-cyan: #8ad8ff;
    --color-dark-blue: #0c2a4d;
    --color-grey: #e2dede;
    --color-light-blue: #003b72;
    --color-primary: #4051b5;
    --color-red: #e90026;
    --color-warn: #f44336;
    --color-white: #fff;
}
html,
body {
    height: 100%;
    max-height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
    display: flex;
    background-color: var(--color-grey);
    color: var(--color-dark-blue);
    &::before {
        background-size: contain;
        background-image: url("assets/background.png");
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.05;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
}

.snack {
    align-items: center;
    background-color: var(--color-light-blue);
    border-radius: 4px;
    color: var(--color-white);
    display: flex;
    font-size: 0.8em;
    font-weight: 700;
    padding: 0px 6px;
}
